* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(255,255,255);
  font-family: Tahoma, sans-serif;
  font-style: bold;
}

.menu {
  display: grid;
  grid-template-columns: 10vw 5fr 1fr;
}

a {
 text-decoration: none;
 color: rgb(25,255,0);
}

.title {
  padding: 20px;
  align-self: center;
}

.temp-heading {
  text-align: center; 
}

.dev-disclaimer {
  border: solid;
  padding:1em;
  margin: 1em;
  background: rgb(255,255,0);
}

section {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

article {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img {
  display: block;
  align-self: center;
  width: 100%;
  height: 100%;
  box-shadow: -1px 0px 0px
                       rgba(0,0,0,0.06);
} 


 /* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content$
.dropdown:hover .dropbtn {background-color: #3e8e41;}


